@charset "UTF-8";

.cabeçalho__menu {
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    background-image: url("../assets/Menu.svg");
}

.cabeçalho {
    background-color: var(--cor-principal);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 70vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

input[type="checkbox"]  {
    display: none;
}

.lista-menu__titulo, .lista-menu__item{
    padding: 1em;
    background-color: var(--cor-principal);
}

.lista-menu__titulo {
    color:var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--cor-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.container__botao:checked~.menu__label>.cabeçalho__menu {
    background-image: url(../assets/Menu\ Aberto.svg);
}

.container__botao:checked~.menu__label {
    background: var(--cor-degrade);
}

.container__titulo,.opcoes,.container__texto {
    display: none;
}

@media screen and (min-width:1024px) {

    .cabeçalho__menu {
        display: none;
    }
    .container__imagem {
        padding-left: 2em;
        margin-left: 1em;
    }

    .container__titulo,.container__titulo--negrito {
        font-size: 30px;
        font-family: var(--font-secundaria);
    }

    .container__titulo {
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        gap: 10px;
    }

    .opcoes__item {
        padding: 0 1em;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {    
        display: block;
        width: auto;
    }

    .opcoes__botao:checked~.opcoes__label>.opcoes__item {
        background:var(--cor-degrade);
        color: var(--cor-principal);
    }

    .opcoes__item {
        padding: 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        text-decoration: none;
        -webkit-text-fill-color: var(--cor-principal);
    }
}

@media screen and (min-width:1728px) {
    .container__link {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
    }

    .container__texto {
        display: block;
        font-size: 20px;
        color: var(--cor-preto)
    }

    .cabeçalho {
        padding: 0 3em 0 0;
    }

    .opcoes {
        margin-right: auto;
        margin-left: 3em;
    }

    .opcoes__botao:checked~.opcoes__label>.opcoes__item {
        background:var(--cor-degrade);
        color: var(--cor-principal);
    }

    .opcoes__item {
        padding: 1em;
    }

    .lista-menu__item:hover {
        background: var(--cor-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        text-decoration: none;
        -webkit-text-fill-color: var(--cor-principal);
    }

}